::root {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size: 1.6rem;
}

.container {
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 0 3.2rem;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: black;
}
.backButton:hover {
	cursor: pointer;
	text-decoration: underline;
}
